/node_modules/
/vendor/
/scratch/

.env
.env.backup

/storage/cache/*
/storage/logs/*
/storage/tmp/*

.phpunit.result.cache

auth.json

npm-debug.log
yarn-error.log

/.idea/
/.vscode/

.DS_Store
Thumbs.db